.animated-button {
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease;
  background-color: var(--color-blue);
  border-radius: 50px;
  color: white;
}

.animated-button:hover {
  background-color: transparent;
  color: white
}

.animated-button::before {
  position: absolute;
  content: '';
  height: 200%;
  width: 100%;
  border-radius: 50% 50% 0 0;
  left: 0;
  top: 100%;
  background-color: var(--color-blue);
  transition: all 0.6s ease;
  color: white
}

.animated-button:hover::before {
 top: -60%;
}